<!DOCTYPE html>
<html>
<head>
    <link href="assets/css/app.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" id="vue">
        <!-- LOADING SCREEN -->
        <div v-if="loading.working" class="loading">
            <center>
                <h1>
                    <small>Please wait...</small>
                    <i class="fa fa-fw fa-spinner fa-spin"></i>
                </h1>
                {{loading.status}}
            </center>
        </div>
        <!-- LOGIN SCREEN -->
        <div v-if="credentials.displayForm" class="panel panel-default panel-login">
            <div class="panel-heading">
                <i class="fa fa-fw fa-lock"></i>
                Authorization
            </div>
            <div class="panel-body">
                <div class="alert alert-danger" v-if="credentials.error">
                    <i class="fa fa-fw fa-exclamation-triangle"></i>
                    Invalid username or password!
                </div>
                <div class="alert alert-success" v-if="credentials.token != null">
                    <i class="fa fa-fw fa-check"></i>
                    Session authorized, please wait...
                </div>
                Please login with your credentials to proceed.<br /><br />
                <b>Username</b><br />
                <input type="text" class="form-control" v-model="credentials.username" /><br />
                <b>Password</b><br />
                <input type="password" class="form-control" v-model="credentials.password" /><br />
                <button class="btn btn-success" v-on:click="attemptAuthorization(false)"><i class="fa fa-fw fa-unlock"></i> Login</button>
            </div>
        </div>
        <!-- MAIN APP -->
        <div v-if="credentials.token != null" class="app">
            <div class="row">
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn btn-default" v-on:click="info.mode = 'create'; resetTemporary(); createEditor()">
                            <i class="fa fa-fw fa-plus"></i>
                            Create Heartbeat
                        </button>
                        <button class="btn btn-default" onclick="$('.modal-run-script').modal();" v-on:click="experiment.result = ''">
                            <i class="fa fa-fw fa-play"></i>
                            Run Script
                        </button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-default" onclick="$('.modal-password').modal();">
                            <i class="fa fa-fw fa-asterisk"></i>
                            Password
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-body">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading" v-if="info.mode == 'view'">
                        <i class="fa fa-fw fa-info"></i>
                        Heartbeat details
                    </div>
                    <div class="panel-heading" v-if="info.mode == 'create'">
                        <i class="fa fa-fw fa-plus"></i>
                        Create heartbeat
                    </div>
                    <div class="panel-heading" v-if="info.mode == 'edit'">
                        <i class="fa fa-fw fa-pencil"></i>
                        Edit heartbeat
                    </div>
                    <div class="panel-body" v-if="info.mode == 'view'">
                        <div class="alert alert-info" v-if="info.selected == null">
                            <i class="fa fa-fw fa-info"></i>
                            Please select an heartbeat to view it's details.<br />
                            Want to create a heartbeat? <a href="javascript:void(0)" v-on:click="info.mode = 'create'; createEditor(); resetTemporary();">Click here to create one!</a>
                        </div>
                        <div v-if="info.selected != null">
                            <b>Name</b><br />
                            {{info.selected.name}}<br />
                            <b>Key</b><br />
                            {{info.selected.key}}<br />
                            <b>Interval (seconds)</b><br />
                            {{info.selected.interval}}<br />
                            <b>Script</b><br />
                            {{info.selected.script}}
                        </div>
                    </div>
                    <div class="panel-body" v-if="info.mode == 'create' || info.mode == 'edit'">
                        <b>Name</b><br />
                        <input type="text" class="form-control" v-model="temporary.name" /><br />
                        <b>Key</b><br />
                        <input type="text" class="form-control" v-model="temporary.key" /><br />
                        <b>Interval (seconds)</b><br />
                        <input type="text" class="form-control" v-model="temporary.interval" /><br />
                        <hr />
                        <div id="lua-create-editor" style="width: 100%; height: 300px;">
                            <span v-if="info.mode == 'create'">result = is_port_listening("127.0.0.1", 2700)</span><span v-if="info.mode == 'edit'">{{temporary.script}}</span>
                        </div>
                        <input type="text" class="form-control" disabled v-model="test.result" v-if="test.result.length" />
                        <button type="button" v-on:click="runTest" class="btn btn-success">
                            <i class="fa fa-fw fa-play" v-if="!test.running"></i>
                            <i class="fa fa-fw fa-spinner fa-spin" v-if="test.running"></i>
                            Test script
                        </button>
                        <hr />
                        <button type="button" class="btn btn-success" v-on:click="submitHeartbeat">
                            <i class="fa fa-fw fa-save" v-if="!info.saving"></i>
                            <i class="fa fa-fw fa-spinner fa-spin" v-if="info.saving"></i>
                            Save Heartbeat
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-fw fa-heartbeat"></i>
                        Heartbeats
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info" v-if="!heartbeats.length">
                            <i class="fa fa-fw fa-info"></i>
                            No heartbeats have been added to this instance yet.
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="heartbeat in heartbeats">
                                    <td>
                                        {{heartbeat.name}}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <!-- VIEW -->
                                            <button type="button" v-on:click="info.mode = 'view'; selectHeartbeatForInfo(heartbeat.id)" class="btn btn-xs btn-primary">
                                                <i class="fa fa-fw fa-eye"></i>
                                            </button>
                                            <!-- EDIT -->
                                            <button type="button" v-on:click="info.mode = 'edit'; createEditor(); selectHeartbeatForEdit(heartbeat.id)" class="btn btn-xs btn-primary">
                                                <i class="fa fa-fw fa-pencil"></i>
                                            </button>
                                            <!-- DELETE -->
                                            <button type="button" v-on:click="selectHeartbeatForDelete(heartbeat.id)" class="btn btn-xs btn-danger">
                                                <i class="fa fa-fw fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-password" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Change Password</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please enter a new password.</p>
                        <input type="password" v-model="reset.password" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" v-on:click="changePassword()" class="btn btn-success">
                            <i class="fa fa-fw fa-save" v-if="!reset.running"></i>
                            <i class="fa fa-fw fa-spinner fa-spin" v-if="reset.running"></i>
                            Save password
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-run-script" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Run Script</h4>
                    </div>
                    <div class="modal-body">
                        <p>This scripting interface is intended for testing purposes only. The value of `result` will be shown after execution.</p>
                        <div id="lua-run-editor" style="width: 100%; height: 300px;">result = is_port_listening("127.0.0.1", 2700)</div>
                        <input type="text" class="form-control" disabled v-model="experiment.result" v-if="experiment.result.length" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" v-on:click="runExperiment" class="btn btn-success">
                        <i class="fa fa-fw fa-play" v-if="!experiment.running"></i>
                        <i class="fa fa-fw fa-spinner fa-spin" v-if="experiment.running"></i>
                        Execute</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/ace/src/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>